<nav>
  <mat-toolbar color="primary">
    <mat-toolbar-row id="mainSiteNav">
        <h1 (click)="unselectPartner()">SITRA Portal</h1>
        <div>
          <mat-form-field id="searchField">
              <mat-icon matPrefix id="searchIcon">search</mat-icon>
              <input matInput type="search" name="Search" placeholder="Search" [(ngModel)]="search">
              <button mat-button *ngIf="search" matSuffix mat-icon-button aria-label="Clear" (click)="search=''">
                <mat-icon>close</mat-icon>
              </button>
          </mat-form-field>
          <mat-menu #languages="matMenu" color="accent">
            <button mat-menu-item (click)="choseALanguage('EN')">EN</button>
            <button mat-menu-item (click)="choseALanguage('FI')">FI</button>
            <button mat-menu-item (click)="choseALanguage('SV')">SV</button>
          </mat-menu>
          
          <button mat-raised-button [matMenuTriggerFor]="languages" id="languages">
            <mat-icon>language</mat-icon> {{ language }}
          </button>
        </div>
    </mat-toolbar-row>
  </mat-toolbar>
</nav>
<h2>{{selectedPartner ? selectedPartner.name : "Choose where your data go while making your life easier!"}}</h2>
<main *ngIf="!selectedPartner">
  <mat-card matRipple class="partner-card" *ngFor="let partner of partners" (click)="selectPartner(partner.id)">
    <div id="logo_container">
        <img mat-card-image src="{{partner.logo}}" alt="{{partner.name}}">
    </div>
    <mat-card-content class="partner-card-content">
      <h3>{{partner.shortDescription}}</h3>
      <p>{{partner.description}}</p>
    </mat-card-content>
  </mat-card>
</main>
<main>
  <app-partner-page *ngIf="selectedPartner" [partner]="selectedPartner"></app-partner-page>
</main>